:root {
    --primary-color: #FF6565;
    --secondary-color: rgba(255,77,77,0.9);
    --font-color: white;
    --font-family: "Source Sans Pro", sans-serif;
    --border-radius: 50px;
    --button-height: 50px;
    --button-width: 180px;
    --color-white-100: rgba(255,255,255,1);
    --color-white-75: rgba(255,255,255,0.75);
    --color-white-50: rgba(255,255,255,0.5);
    --color-white-25: rgba(255,255,255,0.25);
}

* {
    font-family: "Source Sans Pro", sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 40px 130px;
    gap: 10px;
    align-items: center;
}

.navbar-menu a {
    text-decoration: none;
    color: var(--font-color);
    padding-right: 30px;
}

.navbar-menu a:hover {
    color: var(--secondary-color);
}

.navbar-icons img {
    width: 30px;
    cursor: pointer;
    filter: brightness(0) invert(1); 
}

#menu-toggle {
    display: none;
}

.navbar-icons {
    display: none;
    font-size: 25px;
    color: var(--font-color);
}

.first-section {
    background-image: url(Images/Object.png);
    height: 500px;
    padding: 100px 20px; 
    color: var(--font-color);
    text-align: center;
    background-size: cover;
    background-position: center;
    border: none;
    margin-top: -135px;
}

.first-section h2 {
    padding-top: 230px;
    padding-bottom: 0;
    margin-bottom: 15px;
    font-size: 30px;
    color: var(--color-white-100);
}

#first-paragraph {
    color: var(--color-white-100);
    margin-top: -10px;
    font-size: 15px;
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto; 
}

#second-paragraph {
    color: var(--color-white-75);
    padding-top: 20px;
    max-width: 700px;  
    margin-left: auto;
    margin-right: auto;  
    text-align: center; 
    font-size: 18px;     
    line-height: 1.6;    
}

button {
    margin: 40px 0;
    background-color: var(--primary-color);
    color: var(--font-color);
    border-radius: var(--border-radius);
    height: var(--button-height);
    width: var(--button-width);
    border: none;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: var(--secondary-color);
}

.container {
    max-width: 1000px;
    padding: 20px;
    margin: auto;
}

/* Responsive styling */
@media (max-width: 768px) {
    .container {
        max-width: 350px;
        margin: auto;
    }
    .navbar-logo {
        display: flex;
        justify-content: center; 
        width: 100%; 
    }
    .navbar-menu {
        display: none; 
    }

    .navbar-icons {
        display: block; 
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }

    #menu-toggle:checked ~ .navbar-icons .menu-icon {
        display: none;
    }

    #menu-toggle:checked ~ .navbar-icons .close-icon {
        display: block;
    }

    #menu-toggle:checked ~ .navbar-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: absolute;
        top: 90px;
        border: none;
        position: fixed;
        padding-left: 230px;
    }

    .first-section h2 {
        padding-top: 230px;
        font-size: 28px; 
    }
    
    #first-paragraph {
        font-size: 18px;  
        max-width: 90%;   
        margin-left: auto;
        margin-right: auto; 
    }

    #second-paragraph {
        max-width: 90%;  
        font-size: 16px; 
        padding: 0 20px; 
        line-height: 1.5; 
        text-align: center;
    }
}
/* Responsive styling */
@media (max-width: 480px) {
    .container {
        max-width: 350px;
        margin: auto;
    }
    
    .navbar-menu {
        display: none; 
    }

    .navbar-icons {
        display: block;  
    }

    .menu-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }

    #menu-toggle:checked ~ .navbar-icons .menu-icon {
        display: none;
    }

    #menu-toggle:checked ~ .navbar-icons .close-icon {
        display: block;
    }

    #menu-toggle:checked ~ .navbar-menu {
        display: flex;
        flex-direction: column;
        gap: 40px;
        position: absolute;
        top: 90px;
        border: none;
        position: fixed;
        padding-left: 230px;
    }
}
